html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

body {
  font-family: 'Lato', 'sans-serif';
}

h1 {
  margin: 0;
}

header, nav, footer, section, article, div {
  box-sizing: border-box;
}

* {
  box-sizing: border-box;
}

/* Header */

header {
  min-height: 100px;
  background: #fdfdfd;
  padding: 20px 10px 20px 10px;
  margin: 5px 5px 0 5px;
  font-size: 20px;
  color: #777;
  display: flex;
  flex-wrap: wrap;
}

header h1 {
  font-size: 50px;
  font-weight: 200;
}

header h3 {
  font-weight: 300;
}

header h1, header h3 {
  margin: 0;
  text-transform: uppercase;
}

.separator {
  color: #7d97ad;
  display: block;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  margin-left: auto;
  margin-right: auto;
  border-width: 3px;
}

/* Content */

main {
  background: #fefefe;
  min-height: 100%;
  display: flex;
  flex-wrap: wrap;
}

.logo {
  text-align: center;
}

.column {
  width: 100%;
  float: right;
  white-space: wrap;
}

.site-title {
  text-align: center;
}

.site-banner img {
  width: 100%;
}

.featured-work {
  margin: 0;
}

.featured-heading {
  padding-left: 10px;
  color: #7d97ad;
}

.featured {
  float: left;
  width: 100%;
  margin-bottom: 10px;
  text-align: center;
  padding: 10px;
}

.featured img {
  width: 100%;
}
