@media screen and (min-width: 850px){
  main, header{
    width: 850px;
    margin-right: auto;
    margin-left: auto;
  }
}

@media screen and (min-width: 750px){

  header h1{
    font-size: 35px;
  }

  .column{
    width: 33.333%;
  }

  .logo{
    text-align: left;
  }

  .site-title{
    text-align: right;
  }

  .featured{
    margin-right: 10px;
    width: calc((100% - 20px)/3);
  }

  picture:last-of-type{
    margin-right: 0;
  }

  .featured img{
    width: 100%;
  }
}
